/** @format */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* overflow-x: hidden; */
}
html,
body {
  height: 100%;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

header {
  margin-top: 7%;
}
a {
  text-decoration: none;
}
p {
  margin: 0.75rem 0;
}

.btn {
  border-radius: 55px;
}

/* Navbar */
.navbar-css {
  background-color: rgba(255, 254, 254, 0.87);
  box-shadow: 0 6px 31px -2px rgba(0, 0, 0, 0.1);
  z-index: 4;
  color: black;
}

/* welcome to gambeat */

.c {
  /*background-image: url("../image/background.png");*/
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: 100% 200px;
}

.container-welcome-to-gambeat {
  display: flex;
  flex-direction: row;
  /* border: 1px solid red; */
  width: 74%;
  margin: auto;
}

.c-item:first-child {
  border: none;
}
.c-item:nth-child(2) {
  /* border: 1px solid green; */
  position: relative;
}
.c-img {
  /* border: 1px solid green; */
  position: absolute;
  right: 30px;
  top: 230px;
}

.btn-type {
  margin-right: 8px;
  margin-top: 40px;
}
.beat {
  color: rgb(16, 135, 216);
}
.heading {
  margin-top: 40px;
  margin-bottom: 30px;
}

/* how to play */

#how-to-play {
  background-image: url("../image/background.png");
  background-repeat: no-repeat;
  background-position: center top;
  position: relative;
}

.how-to-play-image {
  position: absolute;
  top: -70px;
  left: 50px;
}

.how-to-play-item {
  /* border: 1px solid green; */
  width: 74%;
  margin: auto;
}

.how-to-play-video {
  height: 500px;
  width: 65%;
  margin: auto;
}

/* contact us  */
#contact-us {
  background: aliceblue;
}

.container-contact-us {
  /* border: 1px solid red; */
  width: 74%;
  margin: auto;
}

#four-center {
  /* border: 1px solid red; */
  text-align: center;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}
.four-center_inner {
  width: 50%;
  display: flex;
  align-items: center;
  padding: 20px;
}
.four-center_icon {
  margin: 15px;
}
.four-items {
  padding: 1rem;
  font-size: 20px;
  border-radius: 50%;
  background-color: rgb(16, 135, 216);
  color: whitesmoke;
}
.four-map .four-phone .four-skype .four-envelope {
  color: rgb(16, 135, 216);
  font-size: 50px;
}
/* form section styling */
#form_container {
  border: none;
  margin: 30px auto;
  display: flex;
  flex-direction: row;
}
.items {
  border: none;
  padding: 1rem;
  text-align: center;
  flex: 1;
}
.form-group {
  margin-bottom: 15px;
}
.form-group input {
  width: 100%;
  padding: 20px;
}
.option-btn {
  width: 100%;
  padding: 20px;
}
textarea {
  resize: vertical;
}

/* footer */
#end {
  background-color: rgb(42, 59, 71);
}
#footer-container {
  border: none;
  display: flex;
  justify-content: space-between;
}
.footer-items {
  /* border: 1px solid green; */
  padding: 10px;
}
.footer-items:first-child {
  flex: 8;
}

.footer-icons {
  height: 40px;
  width: 40px;
}

.footer-right {
  padding-top: 5px;
  color: whitesmoke;
}
.five-item-right {
  font-size: 20px;
}
.facebook {
  padding: 0;
  color: blue;
  background-color: aliceblue;
  margin-left: 70px;
}
.twitter {
  color: rgb(16, 135, 216);
  background-color: whitesmoke;
}
.google-plus {
  color: orangered;
  background-color: whitesmoke;
}
.snap-chat {
  color: red;
  background-color: white;
}

.footer-items:nth-child(2) {
  flex: 4;
}

/* 3D Hover */
.transition-3d-hover {
  transition: all 0.2s ease-in-out;
}

.transition-3d-hover:hover,
.transition-3d-hover:focus {
  -webkit-transform: translateY(-3px);
  transform: translateY(-3px);
}

@media screen and (max-width: 768px) {
  .container-welcome-to-gambeat {
    display: flex;
    flex-direction: row;
    width: 90%;
    margin: auto;
  }

  .c-img {
    position: absolute;
    right: 30px;
    top: 500px;
    height: 100px;
    width: 100px;
  }

  /* how to play */
  .how-to-play-item {
    width: 90%;
    margin: auto;
  }

  .how-to-play-video {
    height: 500px;
    width: 90%;
    margin: auto;
  }

  /* contact us */
  .container-contact-us {
    width: 90%;
    margin: auto;
  }
}

@media screen and (max-width: 420px) {
  .container-welcome-to-gambeat {
    display: flex;
    flex-direction: row;
    width: 90%;
    margin: auto;
  }

  .c-img {
    position: absolute;
    right: 30px;
    top: 460px;
    height: 100px;
    width: 100px;
  }

  /* how to play */
  .how-to-play-item {
    width: 90%;
    margin: auto;
  }

  .how-to-play-video {
    height: 500px;
    width: 100%;
    margin: auto;
  }

  /* contact us */
  .container-contact-us {
    width: 90%;
    margin: auto;
  }

  #four-center {
    line-height: 0.1px;
    white-space: pre;
    display: inline-block;
    flex-wrap: nowrap;
  }

  .four-center_inner {
    width: 100%;
    align-items: left;
    padding: 2px 1px;
    font-size: 12px;
  }

  .four-center_icon {
    margin: 5px;
  }
  .four-items {
    padding: 0.8rem;
    font-size: 15px;
    border-radius: 50%;
    background-color: rgb(16, 135, 216);
    color: whitesmoke;
  }

  #form_container {
    margin: 30px auto;
    display: flex;
    flex-direction: column;
  }

  .footer-icons {
    height: 30px;
    width: 30px;
  }

  .footer-right {
    padding-top: 2px;
    color: whitesmoke;
  }
  .five-item-right {
    font-size: 10px;
  }
}
