<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body>

<script src="https://js.paystack.co/v1/inline.js"></script>

<script>
    function payWithPaystack(){
        var handler = PaystackPop.setup({
            key: 'pk_test_3a7af4a93d785ab7fb183ee27eeae4be3755340e',
            email: 'customer@email.com',
            amount: 10000,
            currency: "NGN",
            ref: ''+Math.floor((Math.random() * 1000000000) + 1), // generates a pseudo-unique reference. Please replace with a reference you generated. Or remove the line entirely so our API will generate one for you
            metadata: {
                custom_fields: [
                    {
                        display_name: "Mobile Number",
                        variable_name: "mobile_number",
                        value: "+2348012345678"
                    }
                ]
            },
            callback: function(response){
                alert('success. transaction ref is ' + response.reference);
            },
            onClose: function(){
                alert('window closed');
            }
        });
        handler.openIframe();
    }

    payWithPaystack();
</script>

</body>
</html>